body{
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

nav.flexMenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 0.5rem;
}

.content{
    background-color: #ececec;
    border: 3px solid #8b0000;
    min-height: 400px;
    margin-bottom: 1rem;
    margin: 0 auto;
    padding: 2em;
}

i{
    color: #010101;
    margin-bottom: 0.5rem;
}

a#logo{
    display: none;
}

a{
    text-align: center;
    color: 	#dbd2d2;
    text-decoration: none;
}

/* a:visited{
    color: 	#010101;
} */

nav{
    background-color: #8b0000;
}

.mainNav{
    list-style-type: none;
    display: none;
}

.navbarResponsive{
    font-size: 2em;
    color: #010101;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.active{
    display: block;
}


ul{
    align-self: flex-end;
    list-style-type: none;
    margin: 1rem; 
    
}

li{
    margin: 1rem;
    font-size: large;
}

p, h2{
    text-align: center;
}

p, a, li, h2{
    color: #16120a;
}

.sideBySide{
    display: flex;
}

.responsiveMenu{
    max-width: 50%;
    flex-wrap: wrap;
}

.unbookMSG{
    text-align: center;
}

.unbook{
    color: blue;
}

a.bookTable, a.alreadyBooked{
    
}

.responsiveOpeningHours{
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.dateAndTime{
    padding: 1em;
}

form{
    max-width: 50%;
    margin: 0 auto;
}

.flexForm{
    background-color:#d4d4d4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 1rem;
}

input[type=text], input[type=date], input[type=time], input[type=email], input[type=tel], input[type=number], input[type=password]{
    width: 70%;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0.2rem;
}

input[type=submit]{
    cursor: pointer;
    background-color: #9c0101;
    border: none;
    width: 10em;
    border-radius: 3px;
    font-weight: 530;
    padding: 0.7rem;
}

input[type=submit]:hover{
    background-color: #8b0000;
}

.mapMarkers, .marker{
    display: none;
}

.personalInfo input:nth-of-type(4), .personalInfo label:nth-of-type(4){
    display: none;
}

footer{
    margin-top: 1em;
    padding-bottom: 1rem;
    background-color: #8b0000;
}

.logoFooter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 650px)
{
    ul, a#logo{
        display: flex;
    }

    a#logo{
        display: block;

    }

    .flexmenu, .mainNav{
        display: flex;
    }

    .flexmenu{
        
    }

    .mainNav{

    }

    .navbarResponsive{
        display: none;
    }

    .container{
        
    }

    .flexContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}

@media screen and (min-width: 900px)
{
    .flexmenu, .mainNav{
        display: flex;
    }

    .flexmenu{
        
    }

    .responsiveMenu{
        max-width: 50%;
        flex-wrap: wrap;
    }

    .navbarResponsive{
        display: none;
    }

    .content{
        max-width: 90%;
    }

    .flexContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .personalInfo{
        display: flex;
    }

    .mapMarker, .marker{
        display:block;
        text-align: center;
    }
    
    .mapMarkers{
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(4 auto);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        align-items: center;
        justify-items: center;
    }
    
    .marker.table1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        width: 300px;
        height: 75px;
    }
    .marker.table2{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row: 1;
        width: 300px;
        height: 75px;
    }
    .marker.table3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
        width: 200px;
        height: 75px;
    }
    .marker.table4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 2;
        width: 200px;
        height: 75px;
    }
    .marker.table5{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row: 2;
        width: 200px;
        height: 75px;
    }
    .marker.table6{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row: 2;
        width: 200px;
        height: 75px;
    }
    .marker.table7{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 3;
        width: 100px;
        height: 75px;
    }
    .marker.table8{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 3;
        width: 200px;
        height: 75px;
    }
    .marker.table9{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row: 3;
        width: 200px;
        height: 75px;
    }
    .marker.table10{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row: 3;
        width: 100px;
        height: 75px;
    }
    .marker.table11{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 4;
        width: 100px;
        height: 75px;
    }
    .marker.table12{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 4;
        width: 100px;
        height: 75px;
    }
    .marker.table13{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 4;
        width: 150px;
        height: 150px;
        border-radius: 80px;
    }
    .marker.table14{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row: 4;
        width: 100px;
        height: 75px;
    }
    .marker.table15{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row: 4;
        width: 100px;
        height: 75px;
    }
    
    .personalInfo form{
        width: 200px;
        margin-left: 50px;
    }

    .personalInfo input:nth-of-type(5), .personalInfo label:nth-of-type(5){
        display: none;
    }
    .personalInfo input:nth-of-type(4), .personalInfo label:nth-of-type(4){
        display: block;
    }
    

    .logoFooter{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .alreadyBookedForm{

    }

    .footerLeft{
        grid-column: 1;
    }
    
    .footerRight{
        grid-column: 2;
    }
    
}