body
{
    background-color: silver;
    margin-left: 3em;
}

nav ul
{
    list-style: none;
}

a,a:visited
{
    color: blue;
    text-decoration: none;
}

div.post
{
	border: 1px solid rgb(150,150,150);
	background-color: rgb(200,200,200);
	width: 400px;
	padding: 1em;
	margin-bottom: 1em;
}

div.post h2
{
	margin-top: 0;
    text-align: center;
}

div.post div.footer
{
    display: flex;
    justify-content: space-between;
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px dotted rgb(150,150,150);
	overflow: hidden;
	font-size: 0.8em;
}

img.profilePic
{
	max-height: 100px;
	max-width: 100px;
	width: auto;
	height: auto;
}